<section class="section">
  <div class="container">
    <h1 class="title">Dashboard</h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <%= turbo_frame_tag 'dashboard-aum', src: dashboard_aum_path do %>
          <div class="box">
            <p class="subtitle is-5">AUM</p>
            <p class="title is-1">-</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= turbo_frame_tag 'dashboard-client-count', src: dashboard_client_count_path do %>
          <div class="box">
            <p class="subtitle is-5">Clients</p>
            <p class="title is-2">-</p>
          </div>
        <% end %>
      </div>
      <div class="column">
        <%= turbo_frame_tag 'dashboard-account-count', src: dashboard_account_count_path do %>
          <div class="box">
            <p class="subtitle is-5">Accounts</p>
            <p class="title is-2">-</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= turbo_frame_tag 'dashboard-biggest-account', src: dashboard_biggest_account_path do %>
          <div class="box">
            <p class="subtitle is-5">Biggest Account</p>
            <p class="title is-3">-</p>
            <p class="title is-2">-</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
