<div class="columns">
  <div class="column">
    <h5 class="subtitle is-5">Portfolio</h5>
    <h4 class="title is-4"><%= record.name %></h4>
  </div>
  <div class="column">
    <%= link_to 'View', portfolio_path(record), class: 'button is-link is-pulled-right' %>
  </div>
</div>
